{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content  %}
<div class="d-flex flex-column align-items-center">
<h2> Change Password for {{user.username|capfirst}}</h2>
<br><br>
<form method="POST" class="d-flex flex-column w-50 align-items-center">
    {% csrf_token %}
    <div class="d-flex flex-column align-items-center">
        <div class="col-md-12">
            <label for="inputPassword4" class="d-block">Old Password</label>
            {{form.old_password}}
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="d-block">New Password</label>
            {{form.new_password1}}
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="d-block">Confirm New Password</label>
            {{form.new_password2}}
        </div>
    </div>
    <h4 class="mt-4">Rules</h4>
    <ul class="list-group ">
        <li class="list-group-item">1. Your password can't be too similar to your other personal information.</li>
        <li class="list-group-item">2. Your password must contain at least 8 characters.</li>
        <li class="list-group-item">3. Your password can't be a commonly used password.</li>
        <li class="list-group-item">4. Your password can't be entirely numeric.</li>
    </ul>


    <button type="submit" class="btn btn-success my-3">Change Password</button>


</form>

</div>

{% endblock content %}